li.page-item a {
    font-size: 12px !important;
    padding: 10px !important;
}

img.brand-image.img-circle.elevation-3 {
    border-radius: 22%;
}


.pagination {
    float: left !important;
}

.success_message {
    background: #b2f1b2;
    padding: 5px;
    position: relative;
}

.success_message h4 {
    font-size: 15px;
    color: #706969;
}

.os-host-overflow {
    overflow: unset !important;
}

span.req {
    color: #e51313;
}

.error_message {
    background: #f3bfb9;
    padding: 5px;
    position: relative;
}

.error_message h4 {
    font-size: 15px;
    color: #706969;
}

.clse {
    position: absolute;
    right: 4px;
    top: 0;
    color: #d91414;
    font-weight: bold;
}

.menu_sorting ol {
    list-style-type: none;
}

.menu_sorting ol li:hover {
    cursor: all-scroll;
}

.menu-handle {
    padding: 5px;
    background: #d7d1d1;
    border-radius: 3px;
    border: 2px solid #8c8585;
    font-size: 13px;
    margin-bottom: 10px;
}

.menu-options {
    float: right;
    position: relative;
}

#output {
    color: red;
}

.menu_sorting li {
    list-style: none;
}

table img {
    max-height: 100px;
    max-width: 100%;
    object-fit: contain;
}

.form-group img {
    width: 100%;
}

.req_item {
    border: 1px solid #ddd;
}

.req_item {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

span.rmv_itm {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.rmv {
    background: red;
    height: 25px;
    width: 25px;
    padding: 0px 0px 0px 9px;
    border-radius: 50%;
    cursor: pointer;
}

.rmv_grn_direct {
    background: red;
    height: 25px;
    width: 25px;
    padding: 0px 0px 0px 9px;
    border-radius: 50%;
    cursor: pointer;
}

.rmv_sales {
    background: red;
    height: 25px;
    width: 25px;
    padding: 0px 0px 0px 9px;
    border-radius: 50%;
    cursor: pointer;
}

.rmv_sales_return {
    background: red;
    height: 25px;
    width: 25px;
    padding: 0px 0px 0px 9px;
    border-radius: 50%;
    cursor: pointer;
}

.grn_item {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.out_of_stock {
    color: red;
}

.img_cl {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
}

.del_menu {
    background: #663366;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: -9px;
    top: -11px;
}

.menu_sorting ol {
    border: 1px solid #ddd;
}

.menu_sorting ol li {
    border: 1px solid #ddd;
}

.del_menu:hover {
    background: #dd1818;
    color: #fff;
}

.del_service_category {
    background: #663366;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: -9px;
    top: -11px;
}

.del_service_category:hover {
    background: #dd1818;
    color: #fff;
}

a.design_edit {
    background: #663366;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: -100px;
    top: -11px;
}


.main-img {
    margin-right: 20px !important;
    cursor: pointer;
}

.main-img img {
    width: 50px;
}

.drop_menuss {
    display: none;
    position: absolute;
    width: 280px;
    right: 0px;
    background: #fff;
    padding: 20px;
    top: 70px;
    box-shadow: 0px 1px 5px #ddd;

}

/* for search Bikash */
.searchboxx {
    padding: 20px;
}

.SUB_BTN {
    margin-top: 20px;
}

.close_btn {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close_btn i {
    font-size: 30px;
}

.search_icon_hide,
.search_box {
    display: none;
}

.searchboxx .select2 {
    width: 100% !important;
}

.main-sidebar{
    position:fixed!important;
}
.sidebar{
    height:100vh;
    padding-bottom:25%;
     overflow-y:scroll;
   
}

.content-wrapper{
    min-height:600px!important;
}
.wrapper{
    overflow-y:hidden!important;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgb(0, 122, 181), rgb(255, 240, 18), rgb(84, 188, 75));
  outline: 1px solid slategrey;
}

.sidebar::-webkit-scrollbar {
  width: 0.1em;
}
 
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.logo{
    background-color:#eee!important;
    padding:0px!important;
}
.content{
    padding:10px 10px 0px 10px!important;
}
.box{
    padding:20px!important;
     border:none!important;
}
.box.box-default{
    border:none!important;
}